.container{
    background-color: #FFCD9E;
}


.main-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-left{
    width: 50%;
    margin: 120px;
    margin-top: 0px;
    
}

.container-right{
    width: 50%;
    margin: 50px;
    
    
    
}

body{
    font-family: Inter, sans-serif;
}
h1{
    font-size: 36px;
    
    
}

.introduction,p{
    font-size: 20px;
}

h4{
    padding: 15px 0px;
}

#search-button{
    width: 500px;
    display: flex;
    
    
}
.search{
    width:250px;
    padding: 15px;
    border: solid black 3px;
    border-radius: 5px;
    margin: none;
    font-size: 16px;
    
}

button{
    width:170px;
    border: solid black 3px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    
}
#notice{
    font-size: 15px;
    color: #FFFFFF;
    margin: 20px 40px;
}

footer{
    background-color:  #282828;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;

}

footer>div{
    margin: 0px 120px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    text-align: end;
    
}

.footer-left{
    display: flex;
    flex-direction: column;
}
.footer{
    margin: 10px;
    padding: none;
}
#email{
    align-items: flex-end;
}

